[submodule "backend"]
	path = backend
	url = https://github.com/RooCordoba/life-proyects-manager-back
[submodule "frontend"]
	path = frontend
	url = https://github.com/RooCordoba/life-proyects-manager-front
